{% extends 'base.html' %}

{% block title %}Profile{% endblock %}
{% block content %}
<div class="container jumbotron mt-4" style="max-width:500px">
<p>{{userprofile.username}}</p>
<p>{{userprofile.user.date_of_birth}}</p>
</div>
<div class="container jumbotron mt-4" style="max-width:500px">
        {% if torrents %}
        {% for torrent in torrents %}
        <ul>
                <li>Name: {{ torrent.name }}</li>
                <li>Uploaded by: {{ torrent.uploaded_by }}</li>
                <li>Upload Date: {{ torrent.uploaded_at }}</li>
                <li>Category: {{ torrent.category }}</li>
                <a href="/media/{{torrent.torrent_path}}">Download</a>
        </ul>
        {% endfor %}

        {% else %}
        <p>No torrents uploaded.</p>
        {% endif %}
</div>

{% endblock %}